{% extends "base.html" %}
{% block content %}
<!--suppress ALL -->









<h2>Felhasználói Profil</h2>
<form method="POST">
    <label for="username">Felhasználónév:</label>
    <input type="text" name="username" value="{{ user.username }}" required><br>

    <label for="password">Jelszó:</label>
    <input type="password" name="password" value="{{ user.password }}" required><br>

    <label for="password2">Jelszó újra:</label>
    <input type="password" name="password2" value="{{ user.password2 }}" required><br>

    <label for="email">Email:</label>
    <input type="email" name="email" value="{{ user.email }}" required><br>

    <label for="country">Ország:</label>
    <input type="text" name="country" value="{{ user.country }}"><br>

    <label for="zipcode">Irányítószám:</label>
    <input type="text" name="zipcode" value="{{ user.zipcode }}"><br>

    <label for="city">Város:</label>
    <input type="text" name="city" value="{{ user.city }}"><br>

    <label for="address">Cím:</label>
    <input type="text" name="address" value="{{ user.address }}"><br>

    <label for="phone">Telefonszám:</label>
    <input type="text" name="phone" value="{{ user.phone }}"><br>

    <label for="gender">Nem:</label>
    <input type="text" name="gender" value="{{ user.gender }}"><br>

    <!-- Ide jöhetnek a többi mezők, mint aktív státusz, admin jogosultság, stb. -->

    <input type="submit" value="Profil Frissítése">
</form>
{% endblock %}
